@import 'config';
@import 'colors';
@import 'otherUI';
@import 'buttons';
@import 'transitions';

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}


h1 {
  font-family: ivymode, sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  height:15vh;
  display:flex;
  justify-content:center;
  align-items:center;
  h1 {
    text-align:center;
  }
}
.playing-container {
  height:70vh;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
  .card-wrapper{
    padding:10px;
    margin:12px;
    width:$card-width;
    height:$card-height;
    background-color: transparent;
    perspective: 1000px;
    overflow:hidden;

    // &:hover {
    //   .card-inner {
    //     transform: rotateY(180deg);
    //   }
    // }
    // &::before {//outer card gleen transition
    //   content:'';
    //   z-index:1;
    //   position:absolute;
    //   left:-100%;
    //   transform:skewX(-36deg);
    //   width:100px;
    //   height:calc(100% - 20px);
    //   transition:left .2s ease .1s;
    // }
    // &:hover::before {
    //   left:150%;

    // }

    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.3s;
      transform-style: preserve-3d;
      // &.spin {
      //   transform: rotateY(180deg);
      // }
      .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }
      .card-front {
        border: 12px solid;
        border-radius:$card-border-radius;
        .doggo-container {
          margin:4px auto 0;
          height:60%;
          width:92%;
          // border:3px solid;
          // border-radius:3px;
          text-align:center;
          position:relative;
          .doggo {
            width:100%;
            height:100%;
            border-radius:5px;  
            img {
              border-radius:5px;
              width:100%;
              height:100%;
              object-fit:cover;
              object-position:center 30%;
            }
          }
        }
        .elo-container {
          width:92%;
          height:40%;
          margin: auto;
          display:flex;
          align-items:center;
          justify-content:center;
          p {
            display:block;
          }
          a {
            font-family:inherit;
            text-transform: uppercase;
            font-size:15px;
            color:white;
            width:60%;
            text-align:center;
            border-radius:5px;
            text-decoration:none;
          }
        }
      }
      .card-back {
        border-radius:$card-border-radius;
        color: white;
        transform: rotateY(180deg);
      }
    }
    &.red {
      @include cardColor($red-light,$red-dark)
        }
    &.blue {
      @include cardColor($blue-light,$blue-dark)
        }
    &.green {
      @include cardColor($green-light,$green-dark)
        }
    &.orange {
      @include cardColor($orange-light,$orange-dark)
        }
    &.pink {
      @include cardColor($pink-light,$pink-dark)
        }
    &.purple {
      @include cardColor($purple-light,$purple-dark)
        }
    &.yellow {
      @include cardColor($yellow-light,$yellow-dark)
        }
    &.black {
      @include cardColor($black-light,$black-dark)
        }
  }
}
footer {
  height:15vh;
  display:flex;
  justify-content:center;
  align-content:center;
}